<html>
<head>
  <title></title>
  {% block styles %} {% endblock %}
</head>
<body>
  {% block body %}
  <h1>Welcome to Reisling!</h1>
  <p>
    An opinionated approach to bootstrapping web services with NodeJS,
    Express, and Nunjucks.
  </p>
  {% endblock %}
  {% block scripts %} {% endblock %}
</body>
</html>